<!doctype html>
<html ng-app="proposalApp">
  <head>
    <title>CFP</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </head>
  <body class="container" ng-controller="proposalCtrl as Proposal">
    <h2>Controllers, modules, ng-app, ng-click</h2>

    <div class="form-group" >
      Propose a new talk:

      <input type="text" class="form-control" placeholder="Title"
             ng-model="Proposal.newTalk.title"/>
      <textarea class="form-control" placeholder="Description"
                ng-model="Proposal.newTalk.desc"></textarea>

      {{ Proposal.newTalk }}
    </div>

    <button type="submit" class="btn btn-default"
            ng-click="Proposal.submit()"> Submit </button>

    <p>Submitted Talks: {{ Proposal.talks }}</p>

    <script>
     'use strict';

     var app = angular.module('proposalApp', []);

     app.controller('proposalCtrl', function () {
         var self = this;

         self.talks = [];
         self.submit = function () {
             self.talks.push(self.newTalk);
             self.newTalk = {title: '', desc: ''};
         };
     });

    </script>

  </body>
</html>
