<!doctype html>
<html ng-app="proposalApp">
  <head>
    <title>CFP</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </head>
  <body class="container" ng-controller="proposalCtrl as Proposal">
    <h2>ng-resource</h2>

    <div class="form-group" >
      Propose a new talk:

      <input type="text" class="form-control" placeholder="Title"
             ng-model="Proposal.newTalk.title"/>
      <textarea class="form-control" placeholder="Description"
                ng-model="Proposal.newTalk.desc"></textarea>

      {{ Proposal.newTalk }}
    </div>

    <button type="submit" class="btn btn-default"
            ng-click="Proposal.submit()"> Submit </button>

    <div>
      <h2>Submitted Talks</h2>

      <div class="panel panel-default"
           ng-repeat="talk in Proposal.talks">
        <div class="panel-heading"> {{ talk.title }} </div>
        <div class="panel-body"> {{ talk.desc }} </div>
      </div>

    </div>

    <script>
     'use strict';

     var app = angular.module('proposalApp', ['ngResource']);

     app.controller('proposalCtrl', function ($resource) {
         var self = this;

         var talksBackend = $resource('/talks');
         self.talks = talksBackend.query();

         self.submit = function () {
             self.talks.push(self.newTalk);
             self.newTalk = {title: '', desc: ''};
         };
     });

    </script>

  </body>
</html>
