<!doctype html>
<html ng-app="proposalApp">
  <head>
    <title>CFP</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </head>
  <body class="container" ng-controller="proposalCtrl as Proposal">
    <h2>Slightly less bad practices</h2>

    <div sc-add-talk></div>

    <submitted-talks></submitted-talks>

    <script>
     'use strict';

     var app = angular.module('proposalApp', ['ngResource']);

     app.directive('scAddTalk', function () {
         return {
             template: '<div class="form-group" >' +
                       '  Propose a new talk:' +
                       '  <input type="text" class="form-control" placeholder="Title"' +
                       '         ng-model="Proposal.newTalk.title"/>' +
                       '  <textarea class="form-control" placeholder="Description"' +
                       '            ng-model="Proposal.newTalk.desc"></textarea>' +
                       '  {{ Proposal.newTalk }}' +
                       '</div>' +
                       '<button type="submit" class="btn btn-default"' +
                       '        ng-click="Proposal.submit()"> Submit </button>',
             restrict: 'A'
         }
     });

     app.directive('submittedTalks', function () {
         return {
             template: '<div>' +
                       '  <h2>Submitted Talks</h2>' +
                       '    <input type="text" class="form-control" placeholder="Search talks"' +
                       '           ng-model="searchText"/>' +
                       '    <div class="panel panel-default"' +
                       '         ng-repeat="talk in Proposal.talks | filter:searchText | orderBy:\'vote\':true">' +
                       '    <div class="panel-heading">' +
                       '      {{ talk.title }} ({{ talk.vote }})' +
                       '      <a href="#" ng-click="Proposal.upvote(talk)">up</a> |' +
                       '      <a href="#" ng-click="Proposal.downvote(talk)">down</a>' +
                       '      <a href="#" class="pull-right"' +
                       '         ng-click="Proposal.deleteTalk(talk)" >delete</a>' +
                       '    </div>' +
                       '    <div class="panel-body"> {{ talk.desc }} </div>' +
                       '  </div>' +
                       '</div>',
             restrict: 'E'
         }
     });

     app.factory('Talks', function ($resource) {
         return $resource('/talks');
     });

     app.controller('proposalCtrl', function (Talks) {
         var self = this;

         self.deleteTalk = function (needle) {
             self.talks = self.talks.filter( function (talk) {
                 return talk.title !== needle.title
             });
         }

         self.talks = Talks.query();

         self.submit = function () {
             self.newTalk.vote = 0;
             self.talks.push(self.newTalk);
             console.log(self.talks);
             self.newTalk = {title: '', desc: '', vote: 0};
         };

         self.upvote = function (talk) {
             talk.vote++;
         }

         self.downvote = function (talk) {
             talk.vote--;
         }
     });

    </script>

  </body>
</html>
