<!doctype html>
<html ng-app="proposalApp">
  <head>
    <title>CFP</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body class="container"
        ng-controller="ProposalCtrl as Proposal">

    <h1>Lunch & Learn Talks</h1>

    <div class="form-group" >
      Propose a new talk:
      <input type="text" id="title" class="form-control" placeholder="Title"
             ng-model="Proposal.newTalk.title"/>
      <textarea class="form-control" placeholder="Description"
                ng-model="Proposal.newTalk.description"></textarea>

      {{ Proposal.newTalk  }}

    </div>
    <button type="submit" class="btn btn-default"
            ng-click="Proposal.submit()"> Submit </button>

    <div>
      <h2>Submitted Talks</h2>

      <div class="panel panel-default"
           ng-repeat="talk in Proposal.allTalks | orderBy:'vote':true">
        <div class="panel-heading">
          {{ talk.title }} ({{ talk.vote }})
          <a href="#" ng-click="Proposal.upvote(talk)">up</a> |
          <a href="#" ng-click="Proposal.downvote(talk)">down</a>
          <a href="#" ng-click="Proposal.deleteTalk(talk)" class="pull-right">delete</a>
        </div>
        <div class="panel-body">{{ talk.description }}</div>
      </div>

    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script>
     'use strict';

     var app = angular.module('proposalApp', []);

     app.controller('ProposalCtrl', function () {
         var self = this;

         self.submit = function () {
             self.newTalk.comments = [];
             self.newTalk.vote = 0;

             self.allProposal.push(self.newTalk);
             self.newTalk = {
                 title: '',
                 description: '',
                 comments: [],
                 vote: 0
             };
         };

         self.allTalks = [
             {
                 title: 'Foobar',
                 description: 'How much does a bar of foo weigh?',
                 comments: [],
                 vote: 0
             },
             {
                 title: 'Carry on my wayward son',
                 description: 'There\'ll be peace when you are done',
                 comments: [],
                 vote: 1
             }
         ];

         self.deleteTalk = function (needle) {
             var oldTalks = self.allTalks;
             self.allTalks = [];

             angular.forEach(oldTalks, function (talk) {
                 if (talk.title !== needle.title) {
                     self.allTalks.push(talk);
                     console.log(self.allTalks);
                 }
             });
         };

         self.upvote = function (talk) {
             talk.vote++;
         }

         self.downvote = function (talk) {
             talk.vote--;
         }
     });


    </script>
  </body>
</html>
