<!doctype html>
<html ng-app>
  <head>
    <title>CFP</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </head>
  <body class="container">

    <h1>Lunch & Learn Talks</h1>

    <div class="form-group" >
      Propose a new talk:

      <input type="text" class="form-control" placeholder="Title"
             ng-model="newTalk.title"/>
      <textarea class="form-control" placeholder="Description"
             ng-model="newTalk.desc"></textarea>

      {{ newTalk }}
    </div>
  </body>
</html>
